<div align="center">
<div class="new-form">
    <h2>New FlowerShop</h2>
    <%= render 'form', flower_shop: @flower_shop %>
</div>
   <%= link_to 'Back', flowers_path, class: "btn btn-outline-light form-button" %>
</div>
