<div class="main-container">
    <!-- bookings -->
    <div class="cards">
        <% @bookings.each do |booking| %>
        <div class="card-product-infos">
            <ul>
                <h5>
                    <li>
                        <%= booking.created_at.strftime("%A %b %d, %Y") %>
                        <%= booking.flower_id %>
                        <%= booking.user_id %>
                    </li>
                </h5>
            </ul>
        </div>
        <% end %>
        <%= link_to 'all flowers', flowers_path, class: "btn btn-outline-light form-button" %>
    </div>
</div>
