<div class="container">
  <div class="row justify-content-center">
            <div class="col-6">
<br>
<br>
<h3>Reserve this flower</h3>

<%= render 'form', flower: @flower, booking: @booking %>
<div class="btn btn-outline-light my-3">
<%= link_to 'Back', flower_path(@flower) %>
</div>
</div>
</div>
</div>
