
<div align="center">
<div class="new-form">
<h1>Edit flower</h1>
<%= render 'form', flower: @flower %>
<hr>
<%= link_to flower_path do %>
<% end %>
</div>
         <%= link_to 'Back', flowers_path, class: "btn btn-outline-light form-button" %>
</div>






