<div align="center">
<div class="new-form">
    <h2>New Flower</h2>
    <%= render 'form', flower: @flower %>
</div>
   <%= link_to 'Back', flowers_path, class: "btn btn-outline-light new-button" %>
</div>
