<div class="custom-border-top my-3"></div>
    <div class="cards">
        <div class="card-product" id="img" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url('https://images.unsplash.com/photo-1557968581-06d4b39ec0d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');">
            <div class="card-product-infos">
              <h2>Peony</h2>
          </div>
        </div>

        <div class="card-product" id="img" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url('https://images.unsplash.com/photo-1507236827745-1dbaaeb68a3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');">
           <!--  <%= link_to "show_flower", class: "button" %> -->
            <div class="card-product-infos">
              <h2>Cactus</h2>
          </div>
        </div>

        <div class="card-product" id="img" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url('https://images.unsplash.com/photo-1568569028884-e802596e7528?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');">
            <div class="card-product-infos">
              <h2>Hydrangea</h2>
          </div>
        </div>

        <div class="card-product" id="img" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url('https://images.unsplash.com/photo-1572688484438-313a6e50c333?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80');">
            <div class="card-product-infos">
              <h2>Spiderplant</h2>
          </div>
        </div>

    </div>
<br>
