
<!-- <p id="notice"><%= notice %></p> -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1465146344425-f00d5f5c8f07?ixlib=rb-1.2.1&auto=format&fit=crop&w=1510&q=80);">
  <div class="container">
    <p>Bring nature inside</p>
    <button type="button" class="btn btn-outline-light">Search flower for rent</button>
  </div>
 </div>
<%= render 'shared/cards'%>

