
<div class="homebanner">
    <div class="container">
    <!-- <h1 class="flowerfriendtext">π…µπ…»π…Ύπ††π…΄π† π…µπ†π…Έπ…΄π…½π…³</h1> -->
    <form action="/flowers" method="GET">
      <input class= "btn-lg btn-light nav-btn" type="submit" name="commit" value="Discover..." >
    </form>
  </div>
 </div>


<div class="wrapper">
  <img src="https://source.unsplash.com/random/600x600?water" alt="">
  <img src="https://source.unsplash.com/random/600x600?summer" alt="">
  <img src="https://source.unsplash.com/random/600x600?plants" alt="">
  <img src="https://source.unsplash.com/random/600x600?snow" alt="">
  <img src="https://source.unsplash.com/random/600x600?roses" alt="">
  <img src="https://source.unsplash.com/random/600x600?sky" alt="">
  <img src="https://source.unsplash.com/random/600x600?nature" alt="">
  <img src="https://source.unsplash.com/random/600x600?blossom" alt="">
  <img src="https://source.unsplash.com/random/600x600?ice" alt="">
  <img src="https://source.unsplash.com/random/600x600?spring" alt="">
</div>
