.btn-flower {
color: white;
padding: 8px 24px;
border-radius: 2px;
border: 1px solid transparent;
border-color: white;
background-color: transparent;
transition: background 0.3s ease;
font-family: sans-serif;
}

.btn-flower:hover {

color: white;
}



// .back-button {
//   color: white;
// padding: 8px 24px;
// border-radius: 2px;
// border: 1px solid transparent;
// border-color: white;
// background-color: transparent;
// transition: background 0.3s ease;
// font-family: sans-serif;
// }
