

.main-container {
  display: flex;
}
#map {
  height: calc(100vh - 90px);
  /*vh = viewport height / vw= = viewport width */
  position: sticky;
  top: 0;
  margin-top: 16px;
  width: 400px;
}

.card-product {
  height: 250px;
  width: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 15px 0px;
  // border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0);
  border: 10px solid white;
  // &:hover{
  //   opacity: 1;
  //   }
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h5 {
  font-size: 24px;
  margin: 0;
  font-family: $font;
  padding-left: 10px;
  padding-top: 10px;
}

.card-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: 1;
  margin-bottom: 0;
  margin-top: 0px;
  font-family: $font;
  padding-left: 10px;
  font-style: italic;
  margin-left: 1px;
}

.card-container {

}

.card-container h1 {
  color: white;
  margin-top: 30px;
  // padding-right: 0px;
  // margin-left: 0px;
  // text-align: left;
}

.text-container {
  align-content: left;
  margin-left: 22px;
  font-family: $font;
}


.cards {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  // flex-direction: row;
  // flex-wrap: wrap;
  // gap: 12px;
  // justify-content: space-around;
  // padding: 20px;
}

.button:hover {
  // text-shadow: 0 1px 3px rgba(0,0,0,0);
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
}

