// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "banner";
@import "button";
@import "footer";
@import "form";
@import "map";
@import "shop_card";

body {
  background-color: #1D4A4D;
}

.content {
 min-height: calc(100vh - 40px);
}

.flowerfriendtext {
  font-size: 48pt;
  font-weight: bold;
}
